.button {
    padding: .6rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    background-color: var(--white);
    border-radius:  .75rem;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px -1px, rgba(0, 0, 0, .08) 0 4px 6px 0, rgba(0, 0, 0, .06) 0 1px 12px 0;
    cursor: pointer;

    &:hover {
        background-color: #fff;
    }

    &:disabled {
        color: var(--grey);
        box-shadow: none;
        pointer-events: none
    }

    &__wrapper {
        display: flex;
        gap: 3rem;
        padding-bottom: 3rem;
    }

    &--reset {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        font-size: .75rem;
    }
}
  
  
